version: '3.7'

# service: A running container with definitions and configurations about how each container image will run.
services:
    # --------------------------------------------- PostgreSQL
    postgres_db:
        container_name: database
        image: postgres
        ports:
            - 5432:5432
            # - "${POSTGRES_PORT}:${POSTGRES_PORT}"
        volumes:
            - ./backend/_database_volume:/var/lib/postgresql/data
            # TODO: Check if this is the real path from postgres with data we want to save
        env_file:
            - ./.env
        #        restart: unless-stopped
        environment:
            #            // TODO Align it with .env
            - POSTGRES_DB=mydb
            - POSTGRES_HOST=postgres_db
            - POSTGRES_USER=${POSTGRES_USER}
            - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
            - POSTGRES_PORT=${POSTGRES_PORT}
            # - POSTGRES_DB=${POSTGRES_DB}
            # - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
            # - POSTGRES_USER=${POSTGRES_USER}
        # healthcheck:
        #   test: pg_isready -U ${POSTGRES_USER}
        #   # test: [ "pg_isready", "-U", "${POSTGRES_USER}" ]
        #   interval: 10s
        #   timeout: 5s
        #   retries: 5
        #   start_period: 30s
        # healthcheck:
        #   test: /healthchecks/postgres.sh
        #   interval: "5s"

    # --------------------------------------------- nestJS
    nest_app:
        container_name: backend
        image: node:18.16.0
        command: sh -c "npm install && npm run start:dev"
        # build:
        #     context: ./backend
        #     dockerfile: Dockerfile
        #     args:
        #         MYSECRET: ${SECRET}
        ports:
            - 3001:3001
            # - "${BACKEND_PORT}:${BACKEND_PORT}"
        working_dir: /backend
        volumes: #-> DO WE WANT TO SAVE THINGS FROM THE BACKEND CONTAINER?
            - type: bind
              source: ./backend
              target: /backend
            # - ./backend:/backend
            # here it was myapp and now I put nonsense... it should be the direcotry inside the container that we want to save things on the host machine... maybe that is only necessary for the database???
              # - ./_backend_volume:/myapp:rw,uid=<501>,gid=<20>
#        restart: on-failure
        depends_on:
            - postgres_db
#            postgres_db:
#                condition: service_healthy
        env_file:
            - ./.env
        environment:
            - POSTGRES_DB=mydb
            - POSTGRES_HOST=postgres_db
            - POSTGRES_USER=transcendence_user
            - POSTGRES_PASSWORD=***REMOVED***
            - POSTGRES_PORT=5432
            - BACKEND_PORT=${BACKEND_PORT}
            - CLIENT_ID=${CLIENT_ID}
            - SECRET=${SECRET}
            - REDIRECT=${REDIRECT}
            - FRONTEND=${FRONTEND}
            - BACKEND=${BACKEND}
            - DATABASE=${DATABASE}
            - UPLOADS=${UPLOADS}
            - EHOST=${EHOST}
            - EPORT=${EPORT}
            - EPASS=${EPASS}
            - APASS=${APASS}
            - JWT_SECRET=${JWT_SECRET}


    # --------------------------------------------- ReactJS
    react_app:
        container_name: frontend
        image: node:18.16.0
        command: sh -c "npm install && npm run dev"
        # build:
        #     # context: ./frontend
        #     context: ./frontend_tsx
        #     dockerfile: Dockerfile
        ports:
            - 3000:8000
            # - "${FRONTEND_PORT}:${FRONTEND_PORT}"
        working_dir: /frontend
        volumes: #-> DO WE WANT TO SAVE THINGS FROM THE FRONTEND CONTAINER?
            - type: bind
              source: ./frontend
              target: /frontend
            # - ./frontend:/frontend
            # - ./frontend_tsx:/frontend_tsx
            # - ./frontend/_frontend_volume:/nonsense
            # here it was myapp and now I put nonsense... it should be the direcotry inside the container that we want to save things on the host machine... maybe that is only necessary for the database???
            # - ./_frontend_volume:/myapp:rw,uid=<501>,gid=<20>
            # - ./path/on/host:/myapp/node_modules/.cache
        # restart: on-failure
        depends_on:
            - nest_app
            - postgres_db
        #            nest_app:
        #                condition: service_started
        #            postgres_db:
        #                condition: service_started
        tty: true
        env_file:
            - ./.env
        environment:
            - VITE_BACKEND=${VITE_BACKEND}

    # --------------------------------------------- Extra: PgAdmin
    pgadmin:
        container_name: pgadmin
        image: dpage/pgadmin4:7
        logging:
            driver: none
        ports:
            - 5050:5050
        volumes:
            - ./backend/_pgadmin_data:/var/lib/pgadmin
        env_file:
            - ./.env
        environment:
            #            // TODO Align it with .env
            - PGADMIN_DEFAULT_EMAIL=pgadmin4@pgadmin.org
            - PGADMIN_DEFAULT_PASSWORD=***REMOVED***
            - PGADMIN_LISTEN_PORT=5050
            - PGADMIN_CONFIG_SERVER_MODE=False
            - GUNICORN_ACCESS_LOGFILE=/dev/null
#            - PGADMIN_CONFIG_UPGRADE_CHECK_ENABLED=False
        depends_on:
            - postgres_db

# volumes:
#      - ./<host_machine_dir_path>:/<container_data_dir_path>
# This line specifies a volume mapping between a directory on the host machine (left side of the colon) and a data
# directory inside the container (right side of the colon). This means that the contents of the host machine
# directory will be synchronized/mounted into the directory inside the container.
# This allows you to change the application code on your host machine and the changes will be reflected inside the
# container, enabling live-reloading without rebuilding the container each time a change is made.
