.main-grid-container {
	display: grid;
	grid-template-columns: 18% 80%; /* Example: 3 columns of equal width */
	grid-template-rows: auto; /* Rows with automatic height */
	gap: 1%; /* Gap between grid items */
	height: 85vh; /* Set the height of the grid container to fill the viewport */
	margin-left: 1%;
  }