/* # is used inside id='' */
.chat-page {
    width: 100%;
    height: 100%;
    /*overflow-y: scroll;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*border: 20px solid grey;*/
    /*margin: 20px;*/
    /*background-color: orange;*/
}

/*#chat-page-rooms {*/
/*    width: 20%;*/
/*    height: 600px;*/
/*    !*border: 5px solid grey;*!*/
/*    !*background-color: darkgray;*!*/
/*}*/

/*#chat-page-recent {*/
/*    width: 20%;*/
/*    height: 600px;*/
/*    !*border: 5px solid grey;*!*/
/*    !*background-color: darkgray;*!*/
/*}*/

/*#chat-page-chat-box {*/
/*    width: 50%;*/
/*    height: 600px;*/
/*    !*border: 5px solid grey;*!*/
/*    !*background-color: darkgray;*!*/
/*}*/

/*#chat-page-members {*/
/*    width: 20%;*/
/*    height: 600px;*/
/*    !*border: 5px solid grey;*!*/
/*    !*background-color: darkgray;*!*/
/*}*/

/* . is used inside className='' */
.text-small {
    font-size: 0.9rem;
}

/*.rounded-lg {*/
/*    border-radius: 0.5rem;*/
/*}*/
