# Logs
logs/

# Versioning and metadata
.git
.gitignore
.dockerignore

# Build dependencies


# Environment (contains sensitive data)
../.env

# Files not required for production
.editorconfig
tslint.json
nodemon.json