/* # is used inside id='' */
.chat-page {
    /* color = font color */
    color: grey;
    width: auto;
    height: 50vw;
    /*display: flex;*/
    /*overflow-y: scroll;*/
}

ul.dropdown-menu {
    /*width: auto;*/
    height: 50vw;
    overflow-y: scroll;
}

.hidden {
    display: none;
}

.add_users_to_chat {
    overflow-y: auto;
}