/* # is used inside id='' */
.chat-page {
    /* color = font color */
    color: grey;
    /* width: auto; */
    /* height: 100vw; */
    /*display: flex;*/
    /*overflow-y: scroll;*/
}



ul.dropdown-menu {
    /*width: auto;*/
    height: 100vw;
    overflow-y: scroll;
}

.hidden {
    display: none;
}

.add_users_to_chat {
    overflow-y: auto;
}


/***************************************************************/
/* Jaka for testing ********************************************/

/* Left column */
.left-col-body {
    background: rgb(177, 152, 152);
    overflow-y: auto;
    height: calc(100vh - 400px);
    /* max-height: calc(100vh - 200px); */
    /* display: none; */
    /* border: 1px solid red; */
}


/* Members column */
.members-col
/* .middle-col */
{
    border: 1px solid blue;
}

.members-col-members {
    border: 1px solid red;
}

.members-list {
    overflow-y: auto;
    height: calc(100vh - 300px);
    max-height: calc(100vh - 300px);
    border: 1px solid green;
}

.members-buttons {
    border: 1px solid pink;
}
