
:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  /* line-height: 1.1; */
  /* font-weight: 100; */

  color-scheme: dark;
  /* color: rgba(218, 17, 17, 0.87); */
  /* background-color:  */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* jaka */
  /* --inner-section-background: rgb(124, 124, 18); NOWHERE ??? */
}

* {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  /* display: flex; */
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Fredoka', sans-serif;
  /* font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100; */
}

.container-max-width {
  max-width: 1600px;
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.input-default {
  /* margin: 10px !important; */
}

button.button_default {
  border-radius: 5px;
  border: 1px solid black;
  padding: 0.6em 1.2em;
  margin: 5px;
  font-size: 0.8em;
  font-weight: 500;
  font-family: inherit;
  background-color: #a19c94;
  cursor: pointer;
  transition: border-color 0.25s;

  /* Fixed size: */
  width: 120px;
  height: 40px;
  white-space: nowrap;
  overflow: hidden;
  /* text-overflow: ellipsis; */
}

button.button_default:hover {
  border-color: #dcfb92;
  background-color: #c08f8f;
}
button.button_default:focus,
button.button_default:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.row-center {
  /* border: red 2px solid; */
  /* height: 90vh; */
  /* max-height: 90vh; */
  overflow: auto;
}

/* Background of outer div (column)  */
.column-bckg {
	margin-top: 2%;
  /* max-height: 90vh; */
  overflow-y: auto; 
	/* margin-left: 2%; */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}


.column-list-matches {
  max-height: 55vh;
  overflow-y: auto; 
  /* border: red solid; */
}

.inner-section {
  margin: 5% 0 5% 0;
  padding: 4%;
  width: 100%;
  color: black;
}



/* MATCHES */
.match-row {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 1px grey solid;
  /* border-bottom: 1px rgb(232, 16, 16) solid; */
  padding-bottom: 10px;
  justify-content: space-around;
  width: 100%;
}

#match-timestamp {
  font-size: x-small;
}

#match-timestamp,
.players,
.score {
  flex: 1;
  text-align: center;
  font-size: x-small;
}

.players {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.score {
}

.circle {
  /* display: inline-flex; */
  display: block;
  /* align-items: center; */
  margin: 0 0 0 0px;
  font-size: 1em;
  /* border: 1px solid black; */
}

#circleRed {
  align-self: center;
  color: red;
  padding: 0 15px 0 3px;
  border: none;
  font-size: 0.7em;

} 

#circleGreen {
  align-self: center;
  color: rgb(22, 213, 54);
  padding: 0 15px 0 3px;
  border: none;
  font-size: 0.7em;
} 


#otherUserImage:hover {
  cursor: pointer;
}

/* ************************************************* */
/****** CUSTOM COLORS TO CHANGE THE THEME ************/
body {
  /* background-color: #3d0f0f; */
  background-color: #e6dddd;
}

/* Background of outer div  */
.column-bckg {
  background: rgb(255, 253, 239);
  border: rgb(184, 183, 183) solid 1px;
  /* border: rgb(137, 137, 243) solid 1px; */
}

/* Most inner sections inside each div in the center: */
.inner-section {
  background-color: rgb(236, 236, 187);
  border: 1px rgb(225, 200, 156) solid;
  border-radius: 2%;
}


button.button_default {
  background-color: #a19c94;
}
button.button_default:hover {
  border-color: #dcfb92;
  background-color: #c08f8f;
}
button.button_default:focus,
button.button_default:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


.form-control::file-selector-button {
  background-color: rgb(213, 230, 245);
}

.button-custom {
  background-color: rgb(213, 230, 245);
  color: rgb(55, 47, 47);
  border: none;
  border-radius: 5%;
  padding: 10px;
  border: 1px solid rgb(193, 173, 173);
}

.button-custom:hover {
  background-color: rgb(174, 200, 224);
  cursor: pointer;
}



.button-back {
  background-color: rgb(96, 99, 102);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  padding: 0 10px 0 10px;
  border: 1px solid rgb(0, 0, 0);
  font-size: 13px;
}

.button-back:hover {
  background-color: rgb(0, 0, 0);
  cursor: pointer;
}



/* Welcome message */
.welcome-message-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.welcome-message {
  background-color: rgb(246, 244, 217);
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 35%;
  max-width: 500px;
  text-align: center;
  margin: 0 auto;
}


.column-bckg {
  overflow: auto; /* Change to 'auto' to allow scrolling if content is too large */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}


i {
  padding: 0 10px 0 10px;
}

/* BROWSER'S OWN SETTINGS */
/* @media (prefers-color-scheme: light) {
  :root {
    color: #107edf;
  }
} */
