#header-item-logout {
	padding: 0 2% 0 2%;
	/* display: block; */
	float: right;
}

.header::after {
	content: "";
	display: table;
	clear: both;
}

/* Custom hover styling for Nav.Link */
.nav-link {
  background-color: #caf1d4;
}

/* Custom hover styling for Nav.Link */
.nav-link:hover {
	background-color: #f9d63a; /* Your desired hover background color */
	color: #000000; /* Your desired hover text color */
	/* Other hover styles... */
  }


