#users {
    display: block;
    justify-content: left;
    /* width: 40%; */
}

.users-outer .list-users {
    width: 100%;
    list-style-type: decimal;
    counter-reset: list-counter;
}

.list-users > li {
    display: flex;
    justify-content: space-between;
}

.list-users > li:not(.column-titles) {
    counter-increment: list-counter;
}

.list-users > li:not(.column-titles)::before {
    /* content: counter(list-counter) ". "; */ /* Numbers at start of each line  */
    margin-right: 10px;
}

.list-users > li {
    padding: 3px;
}

.list-users > li > span {
	flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid #7f1818; */
    /* padding: 5px; */
    text-align: center;
	border: none;
	/* border-bottom: 1px solid #721717; */
}

.column-titles > span {
    font-weight: bold;
    background-color: rgb(212, 212, 186);
    padding-left: 4%;
}


.list-user-link {
    display: flex;
    /* justify-content: space-between; */
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none; /* remove default link underline */
    color: inherit; /* ensure text color remains the same */
}

.list-user-link:hover {
    /* background-color: #c6b7b7;  choose any color you prefer */
}

 
#otherUserImage {
    width: 150px;
    height: 150px;
    border-radius: 5%;
}

#profileImage_tiny {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    margin: 0 3% 0 0;
}

.selected {
    background: rgb(246, 227, 88);
}


.users-outer .list-users .list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Align items vertically */
    padding: 3px;
    border: 0px solid #8c3131;
    background-color: rgb(212, 212, 186);
}

.users-outer .list-users .column-titles {
    font-weight: bold;
    background-color: rgb(212, 212, 186);
}

.users-outer .list-users .column-titles span,
.users-outer .list-users .list-group-item span {
    flex: 1; /* Each span takes equal width */
    text-align: center; /* Center text within each span */
    /* background-color: rgb(234, 234, 220); */
    border-top: 1px grey solid;
    padding: 7px;

}

.users-outer .list-users .list-group-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3px;
}

.users-outer .list-users .column-titles span {
    background-color: rgb(171, 171, 143);
}

.list-group-item:hover { 
    background-color: rgb(230, 230, 91) !important;
    cursor:pointer;
}